@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.preview_image img{
  height: 1px;
  width: 1px;
  background-color: red;
  position: absolute;
  top: -10px;
}

html {
  font-size: 0.08vw;
}

* {
  margin: 0rem;
  padding: 0rem;
  font-size: 15rem;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: darkgrey;
}



a {
  font-size: 10rem;
  text-decoration: none;
  color: black;
}

.fa-bars {
  font-size: 30rem;
  margin: 20rem;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  z-index: 2;
  align-items: center;
  background-color: whitesmoke;
  border-bottom: 3rem solid black;
}

#navbar {
  display: flex;
  align-items: center;
  margin: auto;
  height: 80rem;
}



#navbar img {
  height: 50rem;
}

#navbar a img:nth-child(2) {
  height: 43rem;
}

#login {
  background-color: black;
  padding: 8rem 20rem;
  color: white;
  font-size: 17rem;
  border-radius: 30rem;

}

#login i {
  margin: 0rem;
  margin-right: 5rem;
  font-size: 15rem;
}

#populat_now p {

  font-size: 20rem;
  display: inline-block;
  margin-left: 15rem;

}

.srcinp {
  display: inline;
  margin: 20rem;
  height: 35rem;
  min-width: 300rem;
  border: 3rem solid grey;
  padding: 0rem 10rem;
  border-radius: 20rem 0rem 0rem 20rem;
  margin-right: 0rem;
  flex-shrink: 2;
  outline: none;
  box-sizing: border-box;
  transition: 1s ease;
}

.srcbtn {
  display: inline;
  margin: 20rem;
  height: 35rem;
  width: 35rem;
  border: 0rem solid black;
  padding: 0rem;
  padding: 0rem 10rem;
  border-radius: 0rem 20rem 20rem 0rem;
  margin-left: 0rem;
  font-size: 15rem;
  background-color: black;
  transition: 1s ease;
}

.srcbtn i {
  color: white;
  display: inline;
  font-size: 15rem;
  width: 15rem;
  height: 15rem;
  margin: 0rem;
  padding: 0rem;
  transition: 1s ease;
}



.srcinp::placeholder {
  color: gray;
  opacity: 1;
  font-size: 13rem;
  padding: 0rem;
  display: block;
  padding-top: 0rem;
  transition: 1s ease;
  /* Firefox */
}

.srcinp:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: gray;
  opacity: 1;
  font-size: 13rem;
  padding: 0rem;
  display: block;
  padding-top: 0rem;
  transition: 1s ease;
}

.srcinp::-ms-input-placeholder {
  /* Microsoft Edge */
  color: gray;
  opacity: 1;
  font-size: 13rem;
  padding: 0rem;
  display: block;
  padding-top: 0rem;
  transition: 1s ease;
}


#option_bar {
  display: flex;
  padding: 5rem;
  background-color: black;
}

#all {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10rem;
  min-width: 70rem;


}

#all p {
  font-size: 20rem;
  color: white;
}


#option-tray {
  margin: 5rem auto;
}

#bag-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 70rem;
}

#option_bar a {
  font-size: 15rem;
  color: white;
}

#option-tray a {
  padding: 20rem;
  color: white;
}

#bag-container {
  margin-right: 20rem;
  display: flex;
}

#bag-container p {
  display: inline;
  margin-left: 5rem;

}

.fa-angle-down {
  color: white;
}

.sidebar {
  height: 100%;
  width: 250rem;
  position: fixed;
  top: 0;
  left: -250rem;
  background-color: #f4f4f4;
  transition: 0.3s;
  z-index: 50;
}

.sidebar.show {
  left: 0;
}

.sidebar_content {
  padding: 20rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10rem;
}

.sidebar a {
  text-decoration: none;
  color: #333;
  display: block;
  font-size: 18rem;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #007BFF;
  background-color: #f0f0f0;
}

#open_sidebar {
  position: fixed;
  top: 10rem;
  left: 10rem;
  cursor: pointer;
}

.close_icon {
  font-size: 24rem;
  cursor: pointer;
}

.content {
  padding: 20rem;
}

#close_sidebar svg {
  font-size: 30rem;
}

.sidebar h3 {
  font-size: 19rem;
  margin-bottom: 10rem;
}

.sidebar_background {

  position: fixed;
  background-color: #FFFFFF00;
  width: 0%;
  height: 100vh;
  z-index: 7;
  transition: background-color .5s;
}

.opened_sidebar_background {
  background-color: #9F9F9F91;
  width: 100%;
}



#slide_board {
  width: 100%;
  background-color: blue;
  height: 430rem;
}

.display-img {
  height: 400rem;
  background-color: white;
  display: flex;
  padding: 10rem;
}

.dis-left {
  width: 65%;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  transition: 0.7s;
}

#dis_left_a {
  background-color: transparent;
  width: 100%;
  height: 100%;
}


.dis-right {
  height: 100%;
  width: 34%;
  margin-left: 10rem;
  box-sizing: border-box;
}

.dis-right1 {
  height: 55%;
  display: flex;
  box-sizing: border-box;
  background-color: transparent;

}

#dis_left_up_a {
  width: 100%;
  height: 100%;
}

.float-down-container {
  background-color: transparent;
  margin-top: 12rem;
  height: 42%;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 0;
}

#dis_left_down_a {
  width: 100%;
  height: 100%;
}


.dis-right1 img {
  height: 100%;
  width: 100%;
}

.dis-left img {
  width: 100%;
  height: 100%;
  border-right: 5rem;
}

.float-down-container a {
  height: 100%;
  width: 100%;
  animation: slide2 10s infinite;
  position: relative;
}

.float-down-container img {
  width: 500rem;
  height: 100%;
}

@keyframes slide2 {
  0% {
    right: 0px;
  }

  20% {
    right: 0px;
  }

  30% {
    right: 100%;
  }

  70% {
    right: 100%;
  }

  80% {
    right: 200%;
  }
}


.deals-container {
  display: flex;
  overflow-y: scroll;
}

.todays-deals {
  padding: 10rem;
  background-color: white;
  margin: 10rem;
  margin-bottom: 18rem;
}

.todays-deals h1 {
  margin: 10rem 10rem;
}


.td-box_image_container {
  display: flex;
  width: 130rem;
  height: 130rem;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 6rem;
}

.td-box img {
  max-width: 100%;
  max-height: 100%;
}

.td-box {
  background-color: white;
  display: inline-block;
  text-align: center;
  margin: 8rem;
  border: 1rem solid lightgrey;
  padding: 15rem;
  border-radius: 8rem;
  box-shadow: 20rem 20rem 34rem rgba(0, 0, 0, 0.1);
  position: relative;
  top: 0rem;
  transition: 0.2s;
}

.td-box h6 {
  background-color: red;
  padding: 5rem;
  font-size: 15rem;
  color: white;
  border-radius: 4rem;
  margin-top: 10rem;
  transition: 0.2s;
  position: relative;
  top: 0rem;
}

.td-box:hover {
  position: relative;
  top: -6rem;
  box-shadow: 20rem 20rem 34rem rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.td-box h6:hover {
  position: relative;
  top: -4rem;
  box-shadow: 20rem 10rem 30rem rgba(0, 0, 0, 0.4)
}

.tdh1 {
  font-size: 30rem;
}

.tda {
  font-size: 12rem;
  margin-left: 10rem;

}

.td-box h6 {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.products {
  background-color: white;
  margin: 10rem;
  padding: 10rem;
  margin-bottom: 20rem;
}

.products h1 {
  margin: 10rem 10rem;
}

.product_container {
  display: flex;
  background-color: transparent;
  flex-wrap: wrap;
  justify-content: center;
}

.main_products {
  margin: 8rem;
  padding: 10rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
  border: 1rem solid lightgrey;
  box-shadow: 20rem 20rem 34rem rgba(0, 0, 0, 0.1);
  transition: 0.2s;
  position: relative;
  top: 0rem;
}

.main_products_image_container {
  display: flex;
  width: 153rem;
  height: 153rem;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 6rem;
}

.main_products img {
  width: 100%;
  max-height: 100%;
}

.main_products h2 {
  font-size: 15rem;
  width: 90%;
  background-color: #398E3D;
  color: white;
  text-align: center;
  padding: 5rem;
  border-radius: 4rem;
  margin: 4rem;
  box-sizing: border-box;
  transition: 0.2s;
  position: relative;
  top: 0rem;
}

.main_products h3 {
  font-size: 15rem;
  width: 90%;
  background-color: #2873F0;
  color: white;
  text-align: center;
  padding: 5rem;
  border-radius: 4rem;
  margin: 5rem;
  box-sizing: border-box;
  transition: 0.2s;
  position: relative;
  top: 0rem;
}

.main_products p {
  max-width: 140rem;
  margin: 5rem;
  font-size: 17rem;
  /*marked*/
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.rating {
  margin-top: 10rem;
}

.rating_stars {
  display: flex;
  justify-content: center;
  font-size: 10rem;
  background: linear-gradient(to right, gold 50%, grey 50%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  box-sizing: border-box;
  padding: 3rem;
}

.main_products:hover {
  position: relative;
  top: -6rem;
  box-shadow: 20rem 20rem 34rem rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.main_products h2:hover {
  position: relative;
  top: -4rem;
  box-shadow: 20rem 10rem 30rem rgba(0, 0, 0, 0.4);
  transition: 0.2s;

}

.main_products h3:hover {
  position: relative;
  top: -4rem;
  box-shadow: 20rem 10rem 30rem rgba(0, 0, 0, 0.4);
  transition: 0.2s;

}

.direct_container {
  background-color: white;
}

.direct_image {
  padding: 10rem;
  height: 200rem;
}


#scroll_indicator {
  background-color: rgba(225, 225, 225, 0.7);
  border: 2rem solid rgba(225, 225, 225, 0.24);
  border-radius: 10rem;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20rem;

}

.scroll_dot {
  height: 10rem;
  width: 10rem;
  border: 1rem solid rgba(70, 123, 255, 1);
  border-radius: 50%;
  background-color: white;
  margin: 2rem 10rem;
  transition: 1s;
}

.activeScroll_dot {
  height: 7rem;
  width: 7rem;
  border: 3rem solid rgba(70, 123, 255, 1);
  background-color: rgba(0, 73, 255, 1);
  transition: 1s;

}


#prevbutton {
  padding: 20rem;
  left: 10rem;
  background-color: transparent;
  border: 0;
  display: block;
  z-index: 1;
}

#prevbutton:hover {
  border-right: 1rem solid grey;
}

#prevbutton:hover i {
  color: dimgrey;
}

#prevbutton i {
  font-size: 59rem;
  color: gray;
}

#nextbutton {
  padding: 20rem;
  color: gray;
  position: relative;
  left: 620rem;
  background-color: transparent;
  border: 0;
  display: block;
}

#nextbutton:hover {
  border-left: 1rem solid grey;
}

#nextbutton:hover i {
  color: dimgrey;
}

#nextbutton i {
  font-size: 59rem;

}

#buttonbox {
  width: 0rem;
  display: flex;
}

.form_container {
  position: static;
  transition: 1s ease;
  z-index: 9999;
  transition: 1s ease;

}


.searchform {
  display: flex;
  margin: 0rem;
  padding: 0rem;
  transition: 1s ease;
}





.form_container_active {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  background-color: transparent;
  transition: 1s ease;
  background-color: white;
  padding-bottom: 20rem;
}


.searchform_active {
  display: flex;
  width: 100%;
  background-color: transparent;
  margin: 0rem;
  padding: 0rem;
  justify-content: center;
  align-items: center;
  transition: 1s ease;
}



.srcinp_active {
  display: inline;
  margin: 15rem;
  height: 50rem;
  width: 75%;
  border: 3rem solid grey;
  padding: 0rem 10rem;
  border-radius: 20rem 0rem 0rem 20rem;
  margin-right: 0rem;
  flex-shrink: 2;
  outline: none;
  box-sizing: border-box;
  padding-left: 20rem;
  font-size: 20rem;
  transition: 1s ease;
}

.srcbtn_active {
  display: inline;
  margin: 15rem;
  height: 50rem;
  width: 60rem;
  border: 0rem solid black;
  padding: 0rem;
  padding: 0rem 15rem;
  border-radius: 0rem 20rem 20rem 0rem;
  margin-left: 0rem;
  font-size: 15rem;
  background-color: black;
  transition: 1s ease;
}

.srcbtn_active i {
  color: white;
  display: inline;
  font-size: 15rem;
  width: 15rem;
  height: 15rem;
  margin: 0rem;
  padding: 0rem;
  transition: 1s ease;
}



.srcinp_active::placeholder {
  color: gray;
  opacity: 1;
  font-size: 20rem;
  padding: 0rem;
  display: block;
  padding-top: 0rem;
  transition: 1s ease;
  /* Firefox */
}

.srcinp_active:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: gray;
  opacity: 1;
  font-size: 20rem;
  padding: 0rem;
  display: block;
  padding-top: 0rem;
  transition: 1s ease;


}

.srcinp_active::-ms-input-placeholder {
  /* Microsoft Edge */
  color: gray;
  opacity: 1;
  font-size: 20rem;
  padding: 0rem;
  display: block;
  padding-top: 0rem;
  transition: 1s ease;

}



.results {
  display: none;
  /* Initially hide the results */
  border: 1px solid #ccc;
  border-radius: 2px;
  margin: 10px;
  width: 80%;
  z-index: 99;
  margin: auto;
  overflow-x: scroll;
  max-height: 90vh;
}

.result {
  display: flex;
  padding: 10rem;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin: 20rem;
  padding: 10rem;
}


.thumbnail {
  padding-right: 10rem;
}

.thumbnail img {
  width: 230rem;
  /* Adjust the size as needed */
  height: auto;
}

.details {
  display: block;
}

.details h2 {
  font-size: 22rem;
  margin-bottom: 10rem;
}

.details p {
  color: green;
  font-size: 20rem;
}


.closed_option_panal {
  opacity: 0;
  display: none;
  transform: scale(0.5);
  transition: transform 1s;
  transition: opacity 0.5s;
}

.opened_option_panal {
  opacity: 1;
  transform: scale(1);
  display: block;
  background-color: #fff;
  border: 1rem solid #ddd;
  border-radius: 10rem;
  padding: 20rem;
  position: absolute;
  top: 115rem;
  left: 25rem;
  z-index: 1;
  box-shadow: 5rem 10rem 10rem rgba(0, 0, 0, 0.3);
  min-width: 120rem;

  transition: box-shadow 0.3s;
  z-index: 8;
}

.opened_option_panal:hover {
  box-shadow: 10rem 10rem 10rem rgba(0, 0, 0, .5);
}

.opened_option_panal ul {
  list-style: none;
  padding: 0;
}

.opened_option_panal li {
  margin: 10rem 0;
  font-size: 16rem;
  color: #333;
  transition: background-color 0.3s;
}

.option_panal li:hover {
  background-color: #f0f0f0;
}

#option_panal ul a {
  color: black;
}



.e-commerce-footer {
  background-color: #f0f0f0;
  /* Light gray background */
  padding: 20px;
  color: #333;
  /* Dark text color */
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  padding: 10px;
}

.e-commerce-footer h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.e-commerce-footer ul {
  list-style: none;
  padding: 0;
}

.e-commerce-footer ul li {
  margin-bottom: 8px;
}

.e-commerce-footer a {
  text-decoration: none;
  color: #333;
  /* Dark text color for links */
  font-size: 12px;
}

.e-commerce-footer .social-icons a i {
  margin: 10px;
  font-size: 25px;
}

.e-commerce-footer .footer-bottom {
  background-color: #ddd;
  /* Light gray footer bottom background */
  padding: 10px 0;
  text-align: center;
  font-size: 15px;
}


#sidebar_input {
  width: 90%;
  font-size: 16rem;
  padding: 6rem 10rem;
  border: 2rem solid grey;
  border-radius: 50rem;
}






/* mobile view */



@media (max-width: 700px) {
  #testdiv {
    height: 200px;
    width: 100%;
    background-color: red;
    border: 4rem solid orangered;
    box-sizing: border-box;

  }

  html {
    font-size: 0.104vw;
  }

  * {
    margin: 0rem;
    padding: 0rem;
    font-size: 15rem;
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: darkgrey;
  }



  a {
    font-size: 10rem;
    text-decoration: none;
    color: black;
  }

  .fa-bars {
    font-size: 45rem;
    padding: 20rem;
  }

  header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    z-index: 2;
    align-items: center;
    background-color: whitesmoke;
    border-bottom: 4rem solid black;
  }

  #navbar {
    display: flex;
    align-items: center;
    margin: auto;
    height: 130rem;
  }

  #spacer {
    width: 90rem;
  }

  #navbar img {
    height: 80rem;
    padding-right: 10rem;
  }

  #navbar a img:nth-child(2) {
    height: 70rem;
    display: none;

  }

  #login {
    background-color: black;
    padding: 16rem 30rem;
    color: white;
    font-size: 25rem;
    border-radius: 30rem;

  }

  #login i {
    margin: 0rem;
    margin-right: 6rem;
    font-size: 20rem;
  }

  #populat_now p {

    font-size: 25rem;
    display: none;


  }

  .srcinp {
    display: inline;
    margin: 20rem;
    height: 60rem;
    min-width: 460rem;
    border: 3rem solid grey;
    padding: 0rem 30rem;
    border-radius: 40rem 0rem 0rem 40rem;
    margin-right: 0rem;
    flex-shrink: 2;
    outline: none;
    box-sizing: border-box;
    transition: 1s ease;
  }

  .srcbtn {
    display: inline;
    margin: 20rem;
    height: 60rem;
    width: 60rem;
    border: 0rem solid black;
    padding: 0rem;
    padding: 0rem 10rem;
    border-radius: 0rem 40rem 40rem 0rem;
    margin-left: 0rem;
    font-size: 15rem;
    background-color: black;
    transition: 1s ease;
  }

  .srcbtn i {
    color: white;
    display: inline;
    font-size: 20rem;
    width: 10rem;
    height: 15rem;
    margin: 0rem;
    padding: 0rem;
    transition: 1s ease;
  }



  .srcinp::placeholder {
    color: gray;
    opacity: 1;
    font-size: 15rem;
    padding: 0rem;
    display: block;
    transition: 1s ease;
    /* Firefox */
  }

  .srcinp:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: gray;
    opacity: 1;
    font-size: 15rem;
    padding: 0rem;
    display: block;
    padding-top: 0rem;
    transition: 1s ease;
  }

  .srcinp::-ms-input-placeholder {
    /* Microsoft Edge */
    color: gray;
    opacity: 1;
    font-size: 15rem;
    padding: 0rem;
    display: block;
    padding-top: 0rem;
    transition: 1s ease;
  }

  #option_bar {
    display: flex;
    padding: 10rem;
    background-color: black;
  }

  #all {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10rem;
    min-width: 70rem;


  }

  #all p {
    font-size: 30rem;
    color: white;
  }


  #option-tray {
    margin: 5rem auto;
  }

  #bag-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 70rem;
  }

  #option_bar a {
    font-size: 25rem;
    color: white;
  }

  #bag-container {
    margin-right: 20rem;
    display: flex;
  }

  #bag-container p {
    display: inline;
    margin-left: 5rem;
    font-size: 22rem;

  }

  .fa-basket-shopping {
    font-size: 20rem;
  }

  .fa-angle-down {
    color: white;
    font-size: 23rem;
  }

  .sidebar {
    height: 100%;
    width: 700rem;
    position: fixed;
    top: 0;
    left: -700rem;
    background-color: #f4f4f4;
    transition: 0.3s;
    z-index: 50;
  }

  .sidebar.show {
    left: 0;
  }

  .sidebar_content {
    padding: 50rem;
  }

  .sidebar ul {
    list-style: none;
    padding: 0;
  }

  .sidebar ul li {
    margin-bottom: 20rem;
  }

  .sidebar a {
    text-decoration: none;
    color: #333;
    display: block;
    font-size: 45rem;
    transition: 0.3s;
    padding: 10rem;
  }

  .sidebar a:hover {
    color: #007BFF;
    background-color: #f0f0f0;
  }

  #open_sidebar {
    position: fixed;
    top: 10rem;
    left: 10rem;
    cursor: pointer;
  }

  .close_icon {
    font-size: 24rem;
    cursor: pointer;
  }

  .content {
    padding: 20rem;
  }

  #close_sidebar svg {
    font-size: 60rem;
  }

  .sidebar h3 {
    font-size: 50rem;
    margin: 20rem 0rem;
  }

  .sidebar_background {

    position: fixed;
    background-color: #FFFFFF00;
    width: 0%;
    height: 100vh;
    z-index: 7;
    transition: background-color .5s;
  }

  .opened_sidebar_background {
    background-color: #9F9F9F91;
    width: 100%;
  }


  #slide_board {
    width: 10%;
    background-color: blue;
    height: 430rem;
    border: 20rem solid black;
  }

  .display-img {
    height: 550rem;
    background-color: white;
    display: flex;
    padding: 10rem;
  }

  .dis-left {
    width: 99.9%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    transition: 0.7s;
  }

  #dis_left_a {
    background-color: transparent;
    width: 100%;
    height: 100%;
  }


  .dis-right {
    display: none;
  }



  @keyframes slide2 {
    0% {
      right: 0px;
    }

    20% {
      right: 0px;
    }

    30% {
      right: 100%;
    }

    70% {
      right: 100%;
    }

    80% {
      right: 200%;
    }
  }



  .todays-deals {
    padding: 10rem;
    background-color: white;
    margin: 10rem;
    margin-bottom: 18rem;
  }

  ::-webkit-scrollbar {
    height: 3px;
    width: 0rem;
    border-radius: 5px;

  }


  ::-webkit-scrollbar-track {
    background: white;

  }


  ::-webkit-scrollbar-thumb {
    background: #ccc;
  }







  .todays-deals h1 {
    margin: 5rem 20rem;
    font-size: 50rem;
  }



  .td-box_image_container {
    display: flex;
    width: 270rem;
    height: 270rem;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 6rem;

  }

  .td-box img {
    max-width: 100%;
    max-height: 100%;
  }

  .td-box {
    background-color: white;
    display: inline-block;
    text-align: center;
    margin: 10rem;
    border: 1rem solid lightgrey;
    padding: 15rem;
    border-radius: 8rem;
    box-shadow: 20rem 20rem 34rem rgba(0, 0, 0, 0.1);
    position: relative;
    top: 0rem;
    transition: 0.2s;
  }

  .td-box h6 {
    background-color: red;
    padding: 8rem;
    font-size: 35rem;
    color: white;
    border-radius: 7rem;
    margin-top: 10rem;
    transition: 0.2s;
    position: relative;
    top: 0rem;
  }

  .td-box:hover {
    position: relative;
    top: -6rem;
    box-shadow: 20rem 20rem 34rem rgba(0, 0, 0, 0.2);
    transition: 0.4s;
  }

  .td-box h6:hover {
    position: relative;
    top: -4rem;
    box-shadow: 20rem 10rem 30rem rgba(0, 0, 0, 0.4)
  }

  .tdh1 {
    font-size: 30rem;
  }

  .tda {
    font-size: 16rem;
    margin-left: 10rem;

  }

  .td-box h6 {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
  }

  .products {
    background-color: rgb(255, 255, 255);
    margin: 10rem;
    padding: 10rem;
    margin-bottom: 20rem;
  }

  .products h1 {
    margin: 10rem 20rem;
    font-size: 50rem;
  }

  .product_container {
    display: flex;
    background-color: transparent;
    flex-wrap: wrap;
    justify-content: center;
  }

  .main_products {
    margin: 8rem;
    padding: 15rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    border: 1rem solid lightgrey;
    box-shadow: 20rem 20rem 34rem rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    position: relative;
    top: 0rem;
  }

  .main_products_image_container {
    display: flex;
    width: 250rem;
    height: 250rem;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 8rem;
  }

  .main_products img {
    width: 100%;
    max-height: 100%;
  }

  .main_products h2 {
    font-size: 25rem;
    width: 95%;
    background-color: #398E3D;
    color: white;
    text-align: center;
    padding: 5rem;
    border-radius: 8rem;
    margin: 4rem;
    box-sizing: border-box;
    transition: 0.2s;
    position: relative;
    top: 0rem;
  }

  .main_products h3 {
    font-size: 20rem;
    width: 95%;
    background-color: #2873F0;
    color: white;
    text-align: center;
    padding: 5rem;
    border-radius: 8rem;
    margin: 5rem;
    box-sizing: border-box;
    transition: 0.2s;
    position: relative;
    top: 0rem;
  }

  .main_products p {
    max-width: 235rem;
    margin: 5rem;
    font-size: 25rem;
    /*marked*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }

  .rating {
    margin-top: 10rem;
  }

  .rating_stars {
    display: flex;
    justify-content: center;
    font-size: 10rem;
    background: linear-gradient(to right, gold 50%, grey 50%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    box-sizing: border-box;
    padding: 3rem;
  }

  .main_products:hover {
    position: relative;
    top: -6rem;
    box-shadow: 20rem 20rem 34rem rgba(0, 0, 0, 0.2);
    transition: 0.4s;
  }

  .main_products h2:hover {
    position: relative;
    top: -4rem;
    box-shadow: 20rem 10rem 30rem rgba(0, 0, 0, 0.4);
    transition: 0.2s;

  }

  .main_products h3:hover {
    position: relative;
    top: -4rem;
    box-shadow: 20rem 10rem 30rem rgba(0, 0, 0, 0.4);
    transition: 0.2s;

  }

  .direct_container {
    background-color: white;
  }

  .direct_image {
    padding: 10rem;
    height: 200rem;
  }


  #scroll_indicator {
    background-color: rgba(225, 225, 225, 0.7);
    border: 2rem solid rgba(225, 225, 225, 0.24);
    border-radius: 10rem;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 20rem;

  }

  .scroll_dot {
    height: 15rem;
    width: 15rem;
    border: 2rem solid rgba(70, 123, 255, 1);
    border-radius: 50%;
    background-color: white;
    margin: 2rem 10rem;
    transition: 1s;
  }

  .activeScroll_dot {
    height: 10rem;
    width: 10rem;
    border: 6rem solid rgba(70, 123, 255, 1);
    background-color: rgba(0, 73, 255, 1);
    transition: 1s;

  }


  #prevbutton {
    padding: 20rem;
    left: 10rem;
    background-color: transparent;
    border: 0;
    display: block;
    z-index: 1;
  }

  #prevbutton:hover {
    border-right: 1rem solid grey;
  }

  #prevbutton:hover i {
    color: dimgrey;
  }

  #prevbutton i {
    font-size: 59rem;
    color: gray;
  }

  #nextbutton {
    padding: 20rem;
    color: gray;
    position: relative;
    left: 620rem;
    background-color: transparent;
    border: 0;
    display: block;
  }

  #nextbutton:hover {
    border-left: 1rem solid grey;
  }

  #nextbutton:hover i {
    color: dimgrey;
  }

  #nextbutton i {
    font-size: 59rem;

  }

  #buttonbox {
    display: none;
  }

  .form_container {
    position: static;
    transition: 1s ease;
    z-index: 9999;
    transition: 1s ease;

  }


  .searchform {
    display: flex;
    margin: 0rem;
    padding: 0rem;
    transition: 1s ease;
  }





  .form_container_active {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 100%;
    background-color: transparent;
    transition: 1s ease;
    background-color: white;
    padding-bottom: 20rem;
  }


  .searchform_active {
    display: flex;
    width: 100%;
    background-color: transparent;
    margin: 0rem;
    padding: 0rem;
    justify-content: center;
    align-items: center;
    transition: 1s ease;
  }



  .srcinp_active {
    display: inline;
    margin: 15rem;
    height: 50rem;
    width: 75%;
    border: 3rem solid grey;
    padding: 0rem 10rem;
    border-radius: 20rem 0rem 0rem 20rem;
    margin-right: 0rem;
    flex-shrink: 2;
    outline: none;
    box-sizing: border-box;
    padding-left: 20rem;
    font-size: 20rem;
    transition: 1s ease;
  }

  .srcbtn_active {
    display: inline;
    margin: 15rem;
    height: 50rem;
    width: 60rem;
    border: 0rem solid black;
    padding: 0rem;
    padding: 0rem 15rem;
    border-radius: 0rem 20rem 20rem 0rem;
    margin-left: 0rem;
    font-size: 15rem;
    background-color: black;
    transition: 1s ease;
  }

  .srcbtn_active i {
    color: white;
    display: inline;
    font-size: 15rem;
    width: 15rem;
    height: 15rem;
    margin: 0rem;
    padding: 0rem;
    transition: 1s ease;
  }



  .srcinp_active::placeholder {
    color: gray;
    opacity: 1;
    font-size: 20rem;
    padding: 0rem;
    display: block;
    padding-top: 0rem;
    transition: 1s ease;
    /* Firefox */
  }

  .srcinp_active:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: gray;
    opacity: 1;
    font-size: 20rem;
    padding: 0rem;
    display: block;
    padding-top: 0rem;
    transition: 1s ease;


  }

  .srcinp_active::-ms-input-placeholder {
    /* Microsoft Edge */
    color: gray;
    opacity: 1;
    font-size: 20rem;
    padding: 0rem;
    display: block;
    padding-top: 0rem;
    transition: 1s ease;

  }



  .results {
    display: none;
    /* Initially hide the results */
    border: 1px solid #ccc;
    border-radius: 2px;
    margin: 10px;
    width: 80%;
    z-index: 99;
    margin: auto;
    overflow-x: scroll;
    max-height: 90vh;
    
  }

  .result {
    display: flex;
    padding: 10rem;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin: 20rem;
    padding: 10rem;
  }


  .thumbnail {
    padding-right: 10rem;
  }

  .thumbnail img {
    width: 230rem;
    /* Adjust the size as needed */
    height: auto;
  }

  .details {
    display: block;
  }

  .details h2 {
    font-size: 22rem;
    margin-bottom: 10rem;
  }

  .details p {
    color: green;
    font-size: 20rem;
  }


  .closed_option_panal {
    opacity: 0;
    display: none;
    transform: scale(0.5);
    transition: transform 1s;
    transition: opacity 0.5s;
  }

  .opened_option_panal {
    opacity: 1;
    transform: scale(1);
    display: block;
    background-color: #fff;
    border: 2rem solid #ddd;
    border-radius: 10rem;
    padding: 20rem;
    position: absolute;
    top: 170rem;
    left: 25rem;
    z-index: 1;
    box-shadow: 5rem 10rem 10rem rgba(0, 0, 0, 0.3);
    min-width: 320rem;

    transition: box-shadow 0.3s;
    z-index: 8;
  }

  .opened_option_panal:hover {
    box-shadow: 10rem 10rem 10rem rgba(0, 0, 0, .5);
  }

  .opened_option_panal ul {
    list-style: none;
    padding: 0;
  }

  .opened_option_panal li {
    margin: 20rem 0;
    font-size: 20rem;
    color: #333;
    transition: background-color 0.3s;
  }

  .option_panal li:hover {
    background-color: #f0f0f0;
  }

  #option_panal ul a {
    color: black;
    font-size: 30rem;
    padding: 15rem;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-section {
    flex: none;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }

  .footer-section h3 {
    font-size: 35rem;
  }

  .e-commerce-footer .social-icons a i {
    font-size: 25px;
    margin: 10px;
  }


  #sidebar_input {
  width: 90%;
  font-size: 40rem;
  padding: 10rem;
}







}

